<?xml version="1.0"?>
<!--
/**
 * Copyright © magenxcommerce. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Config::config">
                        <resource id="Magenx_SocialLoginGraphQl::config" title="Social Login Section" translate="title" sortOrder="60"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
